@use "../abstracts/" as *;

footer {
  margin-top: 3rem;
  text-align: center;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;

  h3 {
    max-width: 13rem;
  }

  p {
    padding-top: 2rem;
  }
}

.functionality_container {
  @include flexContainer(column, center, center);

  .orange-bg {
    @include flexContainer(row, center, center);
    background-color: $orange;
    width: 65px;
    height: 65px;
    border-radius: 16px;
    margin-top: 4rem;
    margin-bottom: 3rem;
  }
}

.rights {
  padding-top: 5rem;
  padding-bottom: 2rem;
  span {
    font-weight: bold;
  }
}

@media screen and (min-width: 700px) {
  footer {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    text-align: left;
    gap: 2rem;
  }

  .functionality_container {
    @include flexContainer(column, flex-start, flex-start);

    > p {
      max-width: 280px;
      padding-top: 1.5rem;
    }

    .orange-bg {
      margin-bottom: 2.5rem;
    }
  }

  .rights {
    grid-column: 1/3;
    grid-row: 3;
    text-align: center;
  }
}

@media screen and (min-width: 1000px) {
  footer {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 120px;
    gap: 1rem;
  }

  .functionality_container {
    > p {
      max-width: 250px;
    }
  }

  .rights {
    grid-column: 1/5;
    grid-row: 2;
  }
}
