@use "../abstracts/" as *;

footer {
  margin-top: 3rem;
  text-align: center;

  h3 {
    max-width: 13rem;
  }

  p {
    padding-top: 2rem;
  }
}

.functionality_container {
  @include flexContainer(column, center, center);

  .orange-bg {
    @include flexContainer(row, center, center);
    background-color: $orange;
    width: 65px;
    height: 65px;
    border-radius: 16px;
    margin-top: 4rem;
    margin-bottom: 3rem;
  }
}

.rights {
  padding-top: 5rem;
  padding-bottom: 2rem;
  span {
    font-weight: bold;
  }
}
