@use "../abstracts/index" as *;

header {
  @include flexContainer(row, space-between, center);
  margin-bottom: 5rem;

  img {
    border-radius: 0;
  }
}

@media screen and (min-width: 700px) {
  header {
    margin-bottom: 2rem;
  }
}
