//Button
$lightGrayBtn: hsl(198, 28%, 93%);
$darkBlueBtn: hsl(220, 50%, 17%);
$orange: hsl(22, 89%, 52%);
$white: hsl(0, 0%, 100%);
//Text
$darkBlueText: hsl(220, 50%, 17%);
$mediumBlueText: hsl(220, 23%, 58%);
