@use "../abstracts/" as *;

.gray-btn {
  background-color: $lightGrayBtn;
  color: $darkBlueText;

  &:hover {
    background-color: $darkBlueBtn;
    color: white;
  }
}

.orange-btn {
  background-color: $orange;
  color: $white;

  &:hover {
    background-color: #ff9b62;
  }
}
