* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: "Barlow", sans-serif;
}

body {
  min-height: 100vh;
  padding: 1rem;
  overflow-x: hidden;
  transition: all 0.5s ease;
}

button {
  border: none;
  outline: none;
  background: none;
  font-size: 1rem;
  font-family: inherit;
  font-weight: bold;
  text-transform: uppercase;
  padding: 1rem;
  border-radius: 8px;
  cursor: pointer;
}

@media screen and (min-width: 700px) {
  body {
    padding: 2rem;
  }
}
