header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;
}

.gray-btn {
  background-color: $lightGrayBtn;
  color: $darkBlueText;
}

.intro h1 {
  padding-bottom: 2rem;
}
